@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body{
    font-family: "DM Sans", sans-serif;
    background-color: hsl(33, 100%, 98%);
    color: hsl(25, 47%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body,h2{
    display: inline;
    text-align: center;
    margin-bottom: 20px;
    font-style: "DM Sans", sans-serif;
}
body,p{
    text-align: center;
    display: inline;
    margin: 25px;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    padding: 15px;
    font-size: 20px;
    border: 20px;
    transform: translateX(23);
}
.expense-container{
    background-color:#d8bb78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
    margin-top: 20px;
    margin-left: 10%;
    display: flex;
}
.expense-container input[type=text]{
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}
button{
    width: 75px;
    padding: 8px;
    cursor: pointer;
    align-items: center;
    font-weight: 200;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-style: "DM Sans", sans-serif;
}
label{
    display: inline;
    text-align: center;
    margin-bottom: 20px;
    padding: 8px;
    font-style: "DM Sans", sans-serif;
}
button:hover{
    background-color: aqua;
}